*.sln               eol=crlf
*.vcxproj           eol=crlf
*.vcxproj.filters   eol=crlf
*.props             eol=crlf

*.bat   text
*.c     text
*.cpp   text
*.h     text
*.hpp   text
*.in    text
*.pl    text
*.txt   text
# rc files are currently using UTF-16 LE
*.rc    binary
